<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TCPDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE89CED01C3AC81F00D98D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE89CEE91C3AC81F00D98D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE89CEF41C3AC81F00D98D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
